*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  background: linear-gradient(135deg, #ffdd00, #ff3b3b);
}

#header a{
  text-decoration: none;
}

#header h1{
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
}

#header ul{
  list-style: none;
  text-align: center;
}

#header ul li{
  display: inline-block;
  padding: 10px 20px;
  border-top: 1px solid #ffffffcc;
  border-bottom: 1px solid #ffffffcc;
  margin: 0 20px 30px 20px;
}

#header ul a{
  color: #ffffff;
  text-decoration: none;
}

#header ul li:hover{
  background-color: #ffffff33;
  font-weight: bolder;
  border-top: 2px solid #ffffffcc;
  border-bottom: 2px solid #ffffffcc;
  padding: 9px 20px;
}

#main .title{
  margin: 50px 0 0 200px;
  border-bottom: 1px solid #00000055;
}

#main #img{
  margin: 100px 0 0 200px;
  background-image: url('../images/콘서트_쇼미더머니12콘서트.jpg');
  background-size: cover;
  width: 400px;
  height: 560px;
}

#main table{
  border-collapse: collapse;
  margin: 100px auto 0 auto;
  width: 1100px;
  height: 800px;
  border: 1px solid #00000055;
  text-align: center;
  align-items: center;
}

#main table .table_title{
  background: linear-gradient(135deg, #ffdd00, #ff3b3b);
  color: #ffffff;
}

#main table td{
  border: 1px solid #00000055;
  width: 60px;
  align-items: center;
}

#main table .sit:hover{
  background-color: #ff3b3b;
}

#main table td.sit {
  padding: 0;
  position: relative;
}

.check {
  display: none;
}

.check + label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.check:checked + label {
  background-color: #ffdd00;
}

#main table .stage{
}

#main table .standing_1{
  border: none;
}

#main table .standing_2{
  border: none;
}

#main table .standing_3{
  border: none;
}

#main table .passage_col_ceter{
  border: none;
  width: 50px;
}

#main table .passage_left{
  border: none;
  width: 10px;
}

#main table .passage_right{
  border: none;
  width: 10px;
}

#main table .passage_row_center{
  border: none;
  height: 50px;
}

#main table .passage_top{
  border: none;
  height: 10px;
}

#main table .passage_bottom{
  border: none;
  height: 10px;
}

#main table .passage_bottom_door{
  border: 1px solid #00000055;
  height: 10px;
  background-color: #73c11f;
}

